*{
    margin:0;
    padding:0;
    font-family: Roboto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    background-color: #1f2937;
    height: 30px;
    display: flex;
    align-items: center;
    flex:0 0 auto;
    padding: 16px 0;
}
.middle-header{
    width: 70%;
    margin:auto;
    display: flex;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    flex:3 0 auto;
}
.header a{
    color: #f9faf8;
    text-decoration: none;
}
.header li{
    text-align: center;
}
.header ul{
    list-style: none;
    gap: 24px;
    height: 30px;
    display: flex;
    flex:1 1 auto;
    justify-content: flex-end;
    margin:0;
    padding:0;
}
.hero{
    /*border: solid brown 5px;*/
    display: flex;
    background-color: #1f2937;
    flex:1;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero-box{
    /*border: solid yellow 5px;*/
    background-color: #1f2937;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
    flex-wrap: wrap;
    align-content: center;
}
.hero-info{
    /*border: dotted purple 5px;*/
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.hero-box img{
    /*border: solid red 5px;*/
    max-height: 60%;
    object-fit: contain;
    flex: 1;
    border-radius: 40px;
}
.hero-info .title{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    flex: 1 0 auto;
}
.hero-info .body,
a{
    font-size: 18px;
    color: #e5e7eb;
    flex: 0 0 auto;
}
.hero-info button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 38px;
}
.info-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}
.info-section{
    border: solid red 1px;
    display: flex;
    flex:1;
    justify-content: center;
    width: 100%;
}
.info-tile{
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1 1 auto;
    max-width: 200px;
    margin: 36px;
}
.info-tile img{
    border: solid #3882f6 5px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}
.info-tile-text{
    text-wrap: wrap;
}
.quote{

}
.advertisement{

}
.footer{

}