*{
    margin:0;
    padding:0;
    font-family: Roboto;
}
body{
    display: flex;
    flex-direction: column;
    height: 440vh;
}
.header{
    background-color: #1f2937;
    height: 4vh;
    display: flex;
    align-items: center;
    flex:0 0 auto;
    padding: 16px 0;
}
.middle-header{
    width: 70%;
    margin:auto;
    display: flex;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    flex:3 0 auto;
}
.header a{
    color: #f9faf8;
    text-decoration: none;
}
.header li{
    text-align: center;
}
.header ul{
    list-style: none;
    gap: 24px;
    height: 30px;
    display: flex;
    flex:1 1 auto;
    justify-content: flex-end;
    margin:0;
    padding:0;
}
.hero{
    /*border: solid brown 5px;*/
    display: flex;
    background-color: #1f2937;
    flex:0 0 auto;
    align-items: center;
    justify-content: center;
    height: 101vh;
}
.hero-box{
    /*border: solid yellow 5px;*/
    background-color: #1f2937;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    align-content: center;
}
.hero-info{
    /*border: dotted purple 5px;*/
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.hero-box img{
    max-height:60%;
    object-fit: contain;
    flex: 1;
}
.hero-info .title{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    flex: 1 0 auto;
}
.hero-info .body,
a{
    font-size: 18px;
    color: #e5e7eb;
    flex: 0 0 auto;
}
.hero-info button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    height: 25%;
    padding: 38px;
}
.info-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    flex:1;
    max-height: 36px;
}
.info-section{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
}
.info-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    max-width: 200px;
    max-height: max-content;
    margin: 36px;
}
.info-tile img{
    border: solid #3882f6 5px;
    border-radius: 16px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}
.info-tile-text{
    text-wrap: wrap;
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 18px;
}
.quote-section{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    height: 25%;
    width:100%;
}
.quote-box{
    display: flex;
    flex-direction: column;
    width:60%;
    justify-content: center;
    align-items: center;
}
.quote{
    
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1f2937;
}
.quote-source{
    align-self: flex-end;
    text-align: end;
    font-weight: bolder;
    font-size: 24px;
}
.advertisement{

}
.footer{

}